/*// =============================================================================
// Ella Custom CSS - Customize The Style For Layout
// =============================================================================

// =============================================================================
//
// IMPORTANT DISCLAIMER
// Shopify is notifying shop owners about the need to convert scss files to css files.
// Please use only CSS to style the layout.
//
// =============================================================================*/
 .card-media img {
    mix-blend-mode: multiply;
}
.card-media {
    background: #F3F4F4 !important;
    border-radius: 8px;
}
.newsletter-section .section-content-wrapper {
    background: url(https://cdn.shopify.com/s/files/1/0602/0713/7010/files/new_bg.avif?v=1765314644);
    padding: 50px;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}
.section-block-sections--20993982693618__newsletter_DfWJkk {
        padding-top: 50px;
        margin-bottom: -100px;
    }
ul.list-product-tabs {
    border-bottom: 1px solid #E7E5E4;
}
.list-product-tabs .active {
    border-bottom: 2px solid #14191F !important;
    width: 100% !important;
}
.visual-lookbook-cards.section-block-template--20993985249522__visual_lookbook_cards_F6YG9V .lookbook-image-item .lookbook-image {
    max-height: 420px;
}
section#shopify-section-template--20993985249522__17652990563c7d5f79{
    background: #F5F5F1;
}
.footer__content-top {
    padding-top: 200px !important;
}
.articleLookbook-block {
    display: none;
}
div#shopify-section-template--20993984168178__banner {
    background: #F5F5F1;
}